<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title><a [routerLink]="['/user/', post.user_id]">{{post.author.first_name}} {{post.author.last_name}}</a></mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content class="title">
    <p>
      {{post.title}}
    </p>
  </mat-card-content>
  <mat-card-content class="description">
    <p>
      {{post.description}}
    </p>
  </mat-card-content>
  <mat-card-content class="tags">
    <p>
      {{post.tags.tagsList.join(' ')}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
