.card
  position relative

.header-image
  background-image url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size cover

.title
  font-size large

.description
  font-size medium
  font-family Lucidatypewriter, monospace

.tags
  font-size medium

mat-card-header
  align-items center
  padding 1rem

  .button-container
    right 10px
    position absolute

  mat-card-title
    display flex
    justify-content center
    align-items center

    a
      text-decoration none