.toolbar
  position fixed
  top 0
  left 0
  right 0

.sidenav-container
  position absolute
  top 60px
  bottom 0
  left 0
  right 0

.sidenav
  padding 20px
  width 200px

.actionbar
  margin-top 1rem
  display flex
  flex-direction column

.sidenav-content
  display flex
  height 100%
  align-items center
  justify-content center

.explore
  height calc(100vh - 60px)
  overflow auto
  padding 1rem 2rem
