<app-mobile-toolbar
  class="toolbar"
  (menuClicked)="drawer.toggle()"
></app-mobile-toolbar>

<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer color="primary" #drawer class="sidenav" mode="over">
    <span class="logo"><app-plantgram-logo></app-plantgram-logo>Plantgram</span>
    <mat-divider></mat-divider>
    <div class="actionbar">
      <mat-list role="list">
        <mat-list-item role="listitem"
          ><a mat-button [routerLink]="['/explore']"
            ><mat-icon>explore</mat-icon>Explore</a
          ></mat-list-item
        >
        <mat-list-item role="listitem"
          ><button mat-button>
            <mat-icon>notifications</mat-icon>Notifications
          </button></mat-list-item
        >
        <mat-list-item role="listitem"
          ><a mat-button [routerLink]="['/settings']"
            ><mat-icon>settings</mat-icon>Settings</a
          ></mat-list-item
        >
      </mat-list>
    </div>
  </mat-drawer>

  <main class="sidenav-content">
    <section
      class="explore"
      gdColumns="1fr"
      gdColumns.sm="1fr 1fr"
      gdColumns.gt-sm="1fr 1fr 1fr"
      gdColumns.gt-md="1fr 1fr 1fr 1fr"
      gdGap="60px 30px"
    >
      <post *ngFor="let post of posts" [item]="post"></post>
    </section>
  </main>
</mat-drawer-container>
