// Container styles
.grid-container
    display grid
    grid-template-columns 5% 90% 5%
    grid-template-rows 100%
    gap 0 0

.grid-container aside
    padding 10px
    height 100vh

// Left sidebar styles
.left-sidebar
    grid-area 1
    display flex
    flex 0 0 100%
    flex-direction column
    gap 25px
    background-color #37966f

.left-sidebar section
    display flex
    text-align center

.left-sidebar section span
    font-size xx-large
    color #fffbe6

.ls-icons-section
    display flex
    flex-direction column
    gap 2rem
    justify-content center

// Right sidebar styles
.right-sidebar
    grid-area 1 / 3 / 2 / 4
    display flex
    flex 0 0 100%
    justify-content center
    background-color #37966f

.right-sidebar section
    display flex
    margin-top 25px
    text-align center

.right-sidebar section span
    font-size xx-large
    color #fffbe6

.explore
    grid-area 1 / 2 / 2 / 3
    display flex
    flex 0 0 100%