.example-form
  width 100%

.example-right-align
  text-align right

input.example-right-align
  -moz-appearance textfield

img
  border-radius 5px

.form-area
  display flex
  align-items center
  justify-content center
  text-align center
  padding 4px

.form-area mat-form-field
  width 90%

.form-area mat-toolbar
  margin-bottom 25px

.container
  display flex
  width 100%
  flex-direction row
  justify-content center
  align-items center
  gap 1rem

.separator
  display flex
  align-items center
  text-align center
  margin-top 3%

.separator::before
.separator::after
  content ''
  flex 1
  border-bottom 1px solid #37966f

.separator::before
  margin-right 0.25em

.separator::after
  margin-left 0.25em

.title
  font-size 4rem
  margin-bottom 2rem