<section class="container">
    <div class="image-area">
      <img src="assets/plants-login-1.jpg" />
    </div>
    <div class="form-area">
        <form class="example-form">
          <div class="example-container">         
            <div class="title"><app-plantgram-logo size=80></app-plantgram-logo>Plantgram</div>          
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <br><button mat-raised-button color="primary">Login</button>
            <div class="separator" color="primary"> O R </div>

            <mat-card>Don't have an account? <a href="/register">Create one!</a></mat-card>

          </div>          
        </form>
    </div>
</section>
  