:host
  width 100%
  min-height 100vh
  display flex
  justify-content center
  align-items center
  padding 2rem
  background #fbf7f0

.container
  flex 1
  max-width 1070px
  min-height 80vh

.image-container
  background-size cover

.login-container
  padding 3rem
  display flex
  flex-direction column
  justify-content center

.title
  display flex
  align-items baseline
  justify-content center
  font-size 3rem
  margin-bottom 2rem

form
  display flex
  flex-direction column
  align-items flex-start

.separator
  display flex
  align-items center
  text-align center
  width 80%
  margin 2% auto

  &:before
  &:after
    content ''
    flex 1
    border-bottom 1px solid #37966f

  &:before
    margin-right 0.25em

  &:after
    margin-left 0.25em

.link
  text-decoration none

  &:hover
    text-decoration underline

.login-card
  &__header
    display flex
    justify-content center
    margin-bottom 1rem

.form-field
  width 100%
  margin-bottom 1rem
