<main class="container" gdColumns="1fr" gdColumns.gt-sm="1fr 1fr">
  <div fxHide fxShow.gt-sm="true" class="image-container" [style.background-image]="'url(' + imageUrl + ')'"></div>

  <section class="login-container">
    <div class="title" color="primary">
      <app-plantgram-logo size="3rem"></app-plantgram-logo>
      <span color="primary">Plantgram</span>
    </div>

    <mat-card class="login-card">
      <mat-card-header class="login-card__header">
        <mat-card-title>Login to Plantgram</mat-card-title>
      </mat-card-header>

      <button type="button" (click)="onGithubLogin()" class="form-field" mat-stroked-button color="primary"
        >Github Login</button
      >

      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput type="email" formControlName="email" email required placeholder="pat@example.com" />
            <mat-error *ngIf="email?.errors?.email">You must enter an email</mat-error>
            <mat-error *ngIf="email?.errors?.required">You must enter a value</mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" required />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="isPasswordVisible = !isPasswordVisible"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="isPasswordVisible"
            >
              <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-error *ngIf="loginError">Invalid Email or Password</mat-error>

          <button type="submit" class="form-field" mat-raised-button color="primary">Login</button>
        </form>

        <div class="separator form-field" color="primary">OR</div>

        <a class="form-field" mat-button href="./auth/signup" color="primary">Register</a>
      </mat-card-content>
    </mat-card>
  </section>
</main>
