.mat-form-field + .mat-form-field
  margin-left 8px

.post-title
  display block
  width 100%
  text-align center
  font-size large

  .title
    color #37966f
    text-decoration underline
    padding 0 5px

.form-actions
  display flex
  flex-direction column
  justify-content flex-end
  width 100%

  .submit
    display flex
    width 100%
    justify-content flex-end
    padding 10px 0

    button
      margin-left 5px

mat-panel-title
  text-align center

mat-form-field
  width 100%

.custom-dropzone
  margin 20px

.custom-dropzone
  height 250px
  background #333
  color #d8f3dc
  box-shadow 0 0 12px 1px rgba(255, 204, 102, 1)
  text-decoration underline
  border-radius 5px
  font-size 20px
  border none
