.container
  display flex
  flex-direction column
  width 55%
  padding 1rem
  margin 0 auto
  height 100vh
  box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.75)

  .user-section
    display flex
    height 30%
    width 100%

    .us-image
      height 100%
      width 30%

      img
        width 100%
        height 100%
        border-radius 50%
        object-fit cver

    .us-content
      width 70%
      padding 1rem

      .c-user
        display flex
        flex-direction row
        align-items center
        height 25%
        font-size x-large
        font-family Lucidatypewriter, monospace

        .c-actions
          display flex
          justify-content flex-end
          width 100%

      .c-data
        height 25%
        font-size large
        font-family Tahoma, sans-serif

        .font
          font-size larger

      .c-description
        height auto
        font-size large
        font-family Arial, sans-serif

.flex-evenly
  display flex
  justify-content space-evenly
  align-items center
  padding 20px

.mat-tab-labels
  justify-content center

.gap span
  margin-left 10px
