.toolbar
  position fixed
  top 0
  left 0
  right 0

.sidenav-container
  position absolute
  top 60px
  bottom 0
  left 0
  right 0

.sidenav
  padding 20px
  width 200px
  background-color #293241

.actionbar
  margin-top 1rem
  display flex
  flex-direction column
  align-items center
  overflow-x hidden

  a
    color white

  button
    color white

  mat-icon
    color #d8f3dc
    margin-right 15px

.sidenav-content
  width 90vw
  text-align center
  margin 0 auto
