@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Fonts
@import "https://fonts.googleapis.com/css?family=Material+Icons+Outlined";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-primary: (
  main: #37966f,
  lighter: #b9e4c9,
  darker: #356859,
  200: #37966f,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$plantgram-primary: mat-palette($mat-primary, main, lighter, darker);

$mat-accent: (
  main: #fd5523,
  lighter: #fffbe6,
  darker: #fc3b15,
  200: #fd5523,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$plantgram-accent: mat-palette($mat-accent, main, lighter, darker);
$plantgram-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$plantgram-theme: mat-light-theme(
  (
    color: (
      primary: $plantgram-primary,
      accent: $plantgram-accent,
      warn: $plantgram-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($plantgram-theme);

.material-icons {
  font-size: 24px;
  font-family: "Material Icons Outlined", "Material Icons";
  .mat-badge-content {
    font-family: "Roboto";
  }
}
